<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="../static/style.css" rel="stylesheet" type="text/css">

</head>

<body>

    <h1>Books CRUD Apllication</h1>

    <header class="navigation">
        <ul class="navigaton__list">
            <li class="navigation__item"><a href="index.html">Main page</a></li>
            <li class="navigation__item"><a href="books.html">Books list</a></li>
            <li class="navigation__item"><a href="authors.html">Authors list</a></li>
            <li class="navigation__item"><a href="addBookAuthor.html">Add new Book/Author</a></li>
        </ul>
    </header>

    <h3>Add new Book</h3>
        <form
            class="addForm"
            th:action="@{/addBook}"
            th:object="${book}"
            th:method="post"
        >
            <label>Title</label><input th:field="*{title}" type='text'>
            <label>Author</label>
            <select th:field="*{authors}" multiple="multiple">
                <option
                    th:each="a : ${authorList}"
                    th:value="${a.id}"
                    th:text="${a}">
                </option>

            </select>
            <label>Pages</label><input th:field="*{pages}" type='text'>
            <label>Publication date</label><input th:field="*{publicationDate}" type="date">
            <input type="submit" value="Add">

        </form>

        <h3>Add new Author</h3>
            <form
                class="addForm"
                th:action="@{/addAuthor}"
                th:object="${author}"
                th:method="post"
            >
                <label>Name</label><input th:field="*{name}" type='text'>
                <label>Last name</label><input th:field="*{lastName}" type='text'>
                <input type="submit" value="Add">
            </form>


            <footer>Vanthus github.com/VanthuZ</footer>

</body>