<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

    <h1>Books CRUD Apllication</h1>

    <header class="navigation">
        <ul class="navigaton__list">
            <li class="navigation__item"><a th:href="@{/}">Main page</a></li>
            <li class="navigation__item"><a th:href="@{/books}">Books list</a></li>
            <li class="navigation__item"><a th:href="@{/authors}">Authors list</a></li>
            <li class="navigation__item"><a th:href="@{/addBookAuthor}">Add new Book/Author</a></li>
        </ul>
    </header>

    <table >
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Publication Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody th:each="book : ${bookList}">
        <tr>
            <td th:text="${book.getId()}">id </td>
            <td th:text="${book.getTitle()}">title</td>
            <td th:text="${book.getAuthors()}">authors</td>
            <td th:text="${book.getPages()}">pages</td>
            <td th:text="${book.getPublicationDate()}" >publication date</td>
            <td>
                <form  th:metod="get" th:action="@{'/editAuthor/' + ${book.getId()}}">
                    <input type="submit" value="Edit">
                </form>
                <form th:metod="get" th:action="@{'/deleteAuthor/' + ${book.getId()}}">
                    <input  type="submit" value="Delete">
                </form>

            </td>
        </tr>

        </tbody>

    </table>


    <footer>Vanthus github.com/VanthuZ</footer>

</body>